.imgContainer {
  background-image: url("https://techtipsbymoh.tor1.cdn.digitaloceanspaces.com/general/login-register2.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-position: 80% center;
}
