@use "sass:map";
@use "helpers" as *;

%fontclass {
  font-family: "Open Sans", sans-serif;
  line-height: 2rem;
  color: black;
  font-weight: 500;
  font-size: map.get($brandingFontSizes, "regular-xs");
  @include atSmall {
    font-size: map.get($brandingFontSizes, "regular-sm");
  }

  @include atMedium {
    font-size: map.get($brandingFontSizes, "regular-md");
  }

  @include atLarge {
    font-size: map.get($brandingFontSizes, "regular-lg");
  }
}

html {
  scroll-behavior: smooth;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  overflow-x: hidden;
}

body {
  @extend %fontclass;

  background-color: white;
  overflow-x: hidden;
  color: map.get($brandingColors, "theme-two");
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  aspect-ratio: attr(width) / attr(height);
}

a {
  all: unset;
  cursor: pointer;
}

textarea,
button {
  @extend %fontclass;
}

button {
  outline: none;
  border: none;
}

p {
  width: 100%;
}

// -------------------------------------------

.global- {
  &container {
    max-width: $maxContainerWidth;
    margin: 0 auto;
  }

  &min-full-vh {
    min-height: 100vh;
  }
}
