@use "sass:map";
@use "../base/helpers" as *;

@each $header in (1, 2, 3, 4, 5, 6) {
  h#{$header} {
    width: 100%;
    font-family: "Open Sans", sans-serif;
    // line-height: 3rem;

    font-size: map.get($brandingHeadingFontSizes, "h#{$header}-xs");

    @include atSmall {
      font-size: map.get($brandingHeadingFontSizes, "h#{$header}-sm");
    }

    @include atMedium {
      font-size: map.get($brandingHeadingFontSizes, "h#{$header}-md");
    }

    @include atLarge {
      font-size: map.get($brandingHeadingFontSizes, "h#{$header}-lg");
    }
  }
}
