@use "sass:math";
@use "sass:map";
@use "../base/helpers" as *;

.scroll-type-one {
  &::-webkit-scrollbar {
    width: 20px;
    height: 20px;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px map.get($brandingColors, "theme-four");
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: map.get($brandingColors, "theme-three");
    border-radius: 10px;
  }
}
