DEBUG=1
WITH_DOCKER=0
ADMIN_URL=admin
SECRET_KEY=SECRET_KEY
ALLOWED_HOSTS=localhost,makeclient.ngrok.io
DB_HOST=localhost
DB_NAME=devdb
DB_USER=devuser
DB_PASSWORD=changeme
DB_PORT=5432
CSRF_TRUSTED_ORIGINS=http://localhost,http://localhost:3000,https://makeclient.ngrok.io
STORAGE_ACCESS_KEY=STORAGE_ACCESS_KEY
STORAGE_SECRET_KEY=STORAGE_SECRET_KEY
STORAGE_END_POINT_URL=STORAGE_END_POINT_URL
STORAGE_END_POINT_CDN_URL=STORAGE_END_POINT_CDN_URL
REDIS_USER_PASS=dsfdgfhtty6878gnhkluy45768743frtr6r65
CLIENT_URL=http://localhost:3000
SENDGRID_API_KEY=SENDGRID_API_KEY
USE_ACTUAL_SMTP_SERVER=1
USE_REAL_EMAIL_ADDRESSES=0
RECEIVER_EMAIL_FOR_TEST=mmmohajer70@gmail.com
EMAIL_ADDRESSES_FOR_TESTING=mmmohajer70@gmail.com,mohammad@iswad.tech
GOOGLE_AUTH_CLIENT_ID=GOOGLE_AUTH_CLIENT_ID
GOOGLE_AUTH_CLIENT_SECRET=GOOGLE_AUTH_CLIENT_SECRET